<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy; 2025 Florence</p>
                <p>Адрес: Улица Такая, д. 123, Город Сякой</p>
                <p>Телефон: <a href="tel:+79653082727">+7 965(308)27-27</a></p>
                <p>Email: <a href="mailto:info@shop.com">kakayatopochta@shop.com</a></p>
            </div>
        </div>
    </div>
</footer>
