@model double

@if (Model > 0)
{
    <div class="average-rating">
        <strong>Средний рейтинг:</strong>
        <span>@Model.ToString("0.0") ⭐</span>
    </div>
}
else
{
    <div class="average-rating">
        <strong>Средний рейтинг:</strong>
        <span>Нет отзывов</span>
    </div>
}