@{
    ViewData["Title"] = "Каталог";
}
<h1>@ViewData["Title"]</h1>

<p>Страничка для каталога</p>

<style>
    .product-card {
        width: 300px; /* Ширина карточки */
        height: 350px; /* Высота карточки */
        margin: 15px; /* Отступы между карточками */
        border-radius: 15px; /* Закругленные углы */
        background-color: #f0f0f0; /* Цвет фона карточки */
        text-align: center; /* Выравнивание текста по центру */
        padding: 15px; /* Отступы внутри карточки */
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3); /* Тень */
        display: inline-block; /* Выравнивание карточек в строку */
        background-color: #FFE568;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="product-card">
                <img src="~/lib/images/букет1.jpg" alt="Товар 1" style="width: 200px">
                <h3>Название товара 1</h3>
                <p>Описание товара 1</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <img src="~/lib/images/букет2.jpg" alt="Товар 2" style="width: 200px">
                <h3>Название товара 2</h3>
                <p>Описание товара 2</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <img src="~/lib/images/букет3.jpg" alt="Товар 3" style="width: 200px">
                <h3>Название товара 3</h3>
                <p>Описание товара 3</p>
            </div>
        </div>
    </div>
</div>
