

@{
    ViewData["Title"] = "Главная";
}



<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
    }

    .background-image-div {
        background-image: url('lib/images/home.jpg'); 
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100vh; 
        display: flex; 
        justify-content: center; 
        align-items: center;
    }

    .text-center {
        text-align: center;
    }

    .display-4 {
        font-size: 3rem; 
        color: black; 
    }

    .slogan {
        font-size: 1.5rem; 
        color: black;
        margin-top: 10px;
    }
</style>

<div class="background-image-div">
    <div class="text-center">
        <h1 class="display-4">Welcome to Florence</h1>
        <p class="slogan">Цветы для вас! На любой случай в жизни</p>
    </div>
</div>
