@{
    ViewData["Title"] = "Главная";
}

<style>
    .background-image-div { /* Создаем класс */
        background-image: url('lib/images/fon.jpg'); /* Путь к изображению */
        background-repeat: no-repeat; /* Не повторять изображение */
        background-size: cover; /* Масштабировать изображение, чтобы оно покрывало всю область */
        background-attachment: fixed; /* Фиксировать изображение */
        width: 100%; /* Задаем ширину div на 100% */
        height: auto; /* Высота div будет автоматически подстраиваться */
    }
</style>

<div class="background-image-div">
    <div class="text-center">
        <h1 class="display-4" style="color: lightgoldenrodyellow">Welcome</h1>
    </div>
</div>
