html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #FFF8D6;
}

header {
    background-color: #FFF8D6;
    padding: 20px;
}

nav {
    background: #FFF3B7;
    padding: 20px;

}

navbar {
    background: #FFE568;
    padding: 20px;
}

.rounded-nav {
    border-radius: 15px;
}

.product-card {
    width: 300px;
    height: 350px;
    margin: 15px;
    border-radius: 15px;
    background-color: #f0f0f0;
    text-align: center;
    padding: 15px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
    display: inline-block;
    background-color: #FFE568;
}

.background-image-div {
    background-image: url('lib/images/fon.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: auto;
}

.signup-link {
    border: 2px solid #F78C00; 
    color: blue;
    padding: 5px 10px; 
    border-radius: 5px; 
}